h1{
    color: red;
}
h5{
    
    justify-content: center;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container{
    height: 1080px;
    width: 480px;
    box-sizing: content-box;
    position: absolute;
    align-items: center;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
     
  
}
.container div{
    margin-bottom: 30px;
}
.description{
    padding:1rem;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;

}

.bottom ul li{
    list-style: none;
}
button{
    display: flex;
    background: blue;
    color:white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin-left: 20%;
    margin-bottom: -5%;
}
.prompt{
    height: 300px;
    width: 400px;
    border: 2px solid black;
    bottom:20%;
    margin: auto;
    padding:2rem;
    background: white;
    display: none;

}
.promptshow{

    height: 340px;
    width: 400px;
    position: relative;
    background: white;
    bottom:38%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    border-radius: 5% 5% 0 0;  
    padding:2rem;
    display:block;
    transition-duration: 0.5s;
    line-height: 80%;
    margin: auto;
}
.extra{
    padding-left: 3%;
}
.detail{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}
.quizquestion{
   
    height: 10%;
}
.quizanswer{
  
    height: 40%;
    box-shadow: '1px 2px 9px #F4AAB9';
    padding:5px

}
.quizanswer button{
    margin-bottom: 10px;
    box-shadow: '1px 2px 9px #F4AAB9'
}

.navigate{
    display: flex;
    flex-direction: row;
   margin-left: -100px;
}
.option{
    
    color:black;
    background: white;
    border: 0.5px solid black;
    width: 100%;
    margin: auto;
    box-shadow: '1px 2px 9px #F4AAB6'
}
.optionchecked{
    color:black;
    background: blue;
    border: 0.5px solid black;
    width: 100%;
    margin: auto;
    box-shadow: '1px 2px 9px #F4AAB6'
}
.option:hover{
    color:black;
    background: grey;
    border: 0.5px solid black;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: '1px 2px 9px #F4AAB6'
}
.clickoption{
    
    color:white;
    background: grey;
    border: 0.5px solid black;
    width: 100%;
    margin: auto;
    box-shadow: '1px 2px 9px #F4AAB6'
}
.button_show{
    display: none;
}

.submit{
    display: flex;
    background: green;
    color:white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin-left: 20%;
}
.quit{
    display: flex;
    background:red;
    color:white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin-left: 20%;
}
.percentage{
    height: 20%;
    width: 100%;
   
    text-align: center;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.result{
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 2%;
}
.mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headline{
    text-align: center;
    color: blue;
}
.score{
    font-size: x-large;
    color: darkblue;
}
h3{text-align: center;}
.btn{
    margin: auto;
}